# Managing animal records

### LeDoux Lab

This notebook is intended to ease the **management of lab animal**.

This is an ongoing project and it's normal find bugs or functions that are useful but not yet implemented. If you have any questions or suggestions just email : jose.cruz@nyu.edu

### Import relevant python modules

In [1]:
import os
import numpy as np
import pandas as pd
import sys
import warnings
import importlib
warnings.filterwarnings('ignore')

### Load the source code library

First, let's tell python where the source (*src*) code library is.

In [2]:
# Define the directory path for the source code folder
src_directory_path = input('Insert the absolute path of the source code directory: ')

# Add the folder to the system pathway

sys.path.insert(0, src_directory_path)
sys.path[0]

Insert the absolute path of the source code directory: C:\Users\josec\Google Drive\work\science\postdoc_nyu\reproducible_science_tools\ani_manager\src

'C:\\Users\\josec\\Google Drive\\work\\science\\postdoc_nyu\\reproducible_science_tools\\ani_manager\\src'

#### Import module: ani_manager
This module holds the functions that create, modify and save the main animal record.

In [3]:
import ani_manager
from ani_manager import *
#importlib.reload(ani_manager)

# Create new animal record

This section creates a new animal record with the following information:

*'project', 'pi', 'user', 'species', 'strain', 'animal_id', 'sex', 'date_of_birth', 'date_of_arrival', 'age_at_arrival_weeks', 'location_id', 'date_of_sacrifice'*

The identification of the animals will use an **individual, unique numerical id**. This identifier will be transverse to all the expeririments and future code will automatically fetch information about an individual animal based on this id.

**Note**
If the list of animals is empty, it will return the shell of the record.

In [10]:
# Create a list with the animal ID
# Must be a sequence (ie list): numbers inbetween square brackets and separeted by commas

animal_list = [365, 987, 123]   # e.g. [12345, 123345, 12312, 1231233]


import_info = {
    
               'animal_list': animal_list,
                   'project': 'project_x',
    'principal_investigator': 'rs',
                      'user': 'jc',
                   'species': 'rat',
                    'strain': 'sprague-dawley',
      'age_at_arrival_weeks': 8,   # non decimal 
                       'sex': 'male',
             'date_of_birth': '20200101',  # use format: YYYYMMDD 
           'date_of_arrival': '20200213',  # use format: YYYYMMDD
               'location_id': 'animal_room_01',
    
}

display(import_info)

{'animal_list': [365, 987, 123],
 'project': 'project_x',
 'principal_investigator': 'rs',
 'user': 'jc',
 'species': 'rat',
 'strain': 'sprague-dawley',
 'age_at_arrival_weeks': 8,
 'sex': 'male',
 'date_of_birth': '20200101',
 'date_of_arrival': '20200213',
 'location_id': 'animal_room_01'}

In [11]:
animal_record = create_new_animal_record(import_info)

display(animal_record)

,project,pi,user,species,strain,animal_id,sex,date_of_birth,date_of_arrival,age_at_arrival_weeks,location_id,date_of_sacrifice
0,project_x,rs,jc,rat,sprague-dawley,123,male,20200101,20200213,8,animal_room_01,NaN
1,project_x,rs,jc,rat,sprague-dawley,365,male,20200101,20200213,8,animal_room_01,NaN
2,project_x,rs,jc,rat,sprague-dawley,987,male,20200101,20200213,8,animal_room_01,NaN

## (Optional)  Export this individual import as .xls or .csv file

All files are identified as: new_import + date(YYYMMDD_HHMMSS). Example:

`new_import_20200325_163206.csv`

`new_import_20200325_163206.xls`

In [6]:
# Insert the path to the directory where the animal files are stored.
saving_directory = input('Insert the absolute path to the animal records directory: \n')

Insert the absolute path to the animal records directory:
C:\Users\josec\Desktop\tests\animal_records

In [7]:
save_new_animal_record(
    animal_record=animal_record,
    save_dir=saving_directory,
    is_new_main_record=True,
    save_csv=True,       # Change here to True
    save_excel=True,    # Change here to True
)

This is a new main record.
Main record directory not found.                   Creating directory main_record at
 C:\Users\josec\Desktop\tests\animal_records\main_record
main record stored at
C:\Users\josec\Desktop\tests\animal_records\main_record\main_record_20200403_140748.csv
Directory not found. Creating directory individual_updates at
 C:\Users\josec\Desktop\tests\animal_records\individual_updates
File saved at:
C:\Users\josec\Desktop\tests\animal_records\individual_updates\new_import_20200403_140748.csv.
File saved at:
C:\Users\josec\Desktop\tests\animal_records\individual_updates\new_import_20200403_140748.xls.

# Check and update the main record

First we need to load the main record file. Specify the directory where it is store and follow the instructions.

In [8]:
# Directory filepath
main_record_dir = input('Insert the absolute path to the main record directory: \n')

Insert the absolute path to the main record directory:
C:\Users\josec\Desktop\tests\animal_records\main_record

### 1) Load the main record.

In [24]:
main_record_filepath, main_record = get_main_record(main_record_dir)

display(main_record_filepath)
display(main_record)

'C:\\Users\\josec\\Desktop\\tests\\animal_records\\main_record\\main_record_20200403_141806.csv'

,project,pi,user,species,strain,animal_id,sex,date_of_birth,date_of_arrival,age_at_arrival_weeks,location_id,date_of_sacrifice
0,project_x,rs,jc,rat,sprague-dawley,132,male,2020-01-01,2020-02-13,8,animal_room_01,NaT
1,project_x,rs,jc,rat,sprague-dawley,456,male,2020-01-01,2020-02-13,8,animal_room_01,NaT
2,project_x,rs,jc,rat,sprague-dawley,789,male,2020-01-01,2020-02-13,8,animal_room_01,NaT
0,project_x,rs,jc,rat,sprague-dawley,123,male,2020-01-01,2020-02-13,8,animal_room_01,2020-04-01
1,project_x,rs,jc,rat,sprague-dawley,365,male,2020-01-01,2020-02-13,8,animal_room_01,NaT
2,project_x,rs,jc,rat,sprague-dawley,987,male,2020-01-01,2020-02-13,8,animal_room_01,NaT

### 2) Merge the new import with the main record.

If you created a new import and you want to merge it with the animal record, use the function bellow. 
If you have multiple records, you can call the function for each merge. 

**Note**
If you have more experience with pandas, just merge all the new imports and then call the function bellow.

In [12]:
updated_record = merge_main_record(animal_record,
                                   main_record,
                                   main_record_dir,
                                   save_output=True,# Change here
                                   )

File saved at:
C:\Users\josec\Desktop\tests\animal_records\main_record\main_record_20200403_141137.csv

In [13]:
display(updated_record)

,project,pi,user,species,strain,animal_id,sex,date_of_birth,date_of_arrival,age_at_arrival_weeks,location_id,date_of_sacrifice
0,project_x,rs,jc,rat,sprague-dawley,132,male,2020-01-01 00:00:00,2020-02-13 00:00:00,8,animal_room_01,NaT
1,project_x,rs,jc,rat,sprague-dawley,456,male,2020-01-01 00:00:00,2020-02-13 00:00:00,8,animal_room_01,NaT
2,project_x,rs,jc,rat,sprague-dawley,789,male,2020-01-01 00:00:00,2020-02-13 00:00:00,8,animal_room_01,NaT
0,project_x,rs,jc,rat,sprague-dawley,123,male,20200101,20200213,8,animal_room_01,NaT
1,project_x,rs,jc,rat,sprague-dawley,365,male,20200101,20200213,8,animal_room_01,NaT
2,project_x,rs,jc,rat,sprague-dawley,987,male,20200101,20200213,8,animal_room_01,NaT

# Extract part of the record for a new experiment

The cells bellow allow the extraction of certain animals from the record. For instance, when you start a new experiment, you may want to select some animals and extract an excel fil with this information.

In [14]:
# First specify some importance information to extract the data:
animal_id_list = [365, 987]          
user = 'jc'.upper()            
experiment_number = '563'

In [15]:
# Specify where you want to export the file.
output_path = input('Specify the directory where you want place the files: \n')

Specify the directory where you want place the files:
C:\Users\josec\Desktop\tests\new_experiment

In [21]:
dataframe_record = fetch_from_main_record(
    animal_id_list,
    main_record,
    user=user,
    experiment_number=experiment_number,
    output_path=output_path,
)

Dataframe saved at: C:\Users\josec\Desktop\tests\new_experiment\RS_EXP563_animal_record.xls

# Update information in the main record

This section allows the user to update the main record file. For instance, if you change the ownership of the animals, if you want to add the date of sacrifice, etc. 

The updates will required the specific animal_id_number.

In [22]:
main_record = update_main_record(
    
    animal_record=main_record.copy(), 
    animal_id_list=[123],
    column_to_update='date_of_sacrifice',                   
    value_to_add='20200401',
    
);
# Visualize the update.
display(main_record)

,project,pi,user,species,strain,animal_id,sex,date_of_birth,date_of_arrival,age_at_arrival_weeks,location_id,date_of_sacrifice
0,project_x,rs,jc,rat,sprague-dawley,132,male,2020-01-01,2020-02-13,8,animal_room_01,NaT
1,project_x,rs,jc,rat,sprague-dawley,456,male,2020-01-01,2020-02-13,8,animal_room_01,NaT
2,project_x,rs,jc,rat,sprague-dawley,789,male,2020-01-01,2020-02-13,8,animal_room_01,NaT
0,project_x,rs,jc,rat,sprague-dawley,123,male,2020-01-01,2020-02-13,8,animal_room_01,20200401
1,project_x,rs,jc,rat,sprague-dawley,365,male,2020-01-01,2020-02-13,8,animal_room_01,NaT
2,project_x,rs,jc,rat,sprague-dawley,987,male,2020-01-01,2020-02-13,8,animal_room_01,NaT

### (Optional) Create a new copy of the main record with the updated information.

The cell bellow will create a new update of the main_record. It will NOT update the previous file, it will create a new file with a distinct timestamp.

In [23]:
save_main_record(main_record, main_record_dir)

File saved at C:\Users\josec\Desktop\tests\animal_records\main_record\main_record_20200403_141806.csv